@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: white;
}